//
// Bootstrap framework + Theme
//
$primary: #292929 !default;
$body-bg: #590aea0a !default;
@import "bootstrap/scss/bootstrap";

//
// Custom styles
//
.custom-button {
  border-radius: 30px;
  margin-left: 10px;
}

.custom-navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 1%;
}

.justify-content-end{
  margin-right: 1%;
}

.home-container {
  height: 100vh;
}

body {
  color: white;
  min-height: 100vh;
  background-color: black;
}