//
// Bootstrap framework + Theme
//
$primary: #292929 !default;
$body-bg: #590aea0a !default;
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


//
// Custom styles
//
.custom-button {
  border-radius: 30px;
  margin-left: 10px;
}

.custom-navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 1%;
  font-family: 'Inter', sans-serif;
}

.justify-content-end{
  margin-right: 1%;
}

body {
  color: white;
  min-height: 100vh;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.home-page {
  height: calc(100vh - 75px);
  overflow: hidden;
  position: relative;
  align-items: center;
}

.left-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.93) 40%, rgba(0, 0, 0, 0));
}

.custom-section.text {
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.custom-section h1{
  font-size: 36px;
  font-weight: bold;
}

.custom-section p{
  font-size: 18px;
}

.custom-section h2{
  font-size: 24px;
  font-weight: bold;
}

.custom-button{
  font-size: 18px;
  font-weight: bold;
}

.custom-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 1%;
}

#login, #register {
  font-family: 'Inter', sans-serif;

  h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: bold;
  }

  form {
    font-weight: bold;
    font-size: 18px;

    .check {
      font-size: 18px;
      font-weight: normal;
    }

    button {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

#profile {
  font-family: 'Inter', sans-serif;

  h1{
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: bold;
  }
  h2{
    font-weight: bold;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-wrapper {
  flex: 1;
  min-width: 300px; /* O ajusta el ancho según tus necesidades */
}

.card {
  height: 100%;
}

.users{
  font-family: 'Inter', sans-serif;
  h2{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 36px;
    font-weight: bold;
  }

  button{
    font-size: 18px;
    margin-top: -2px;
    font-weight: bold;
  }

  .buscador{
    text-align: center;
    margin-left: 30%;
  }

  p{
    text-align: center;
    margin-right: 29%;
    font-size: 18px;
  }
}

#barbershops{
  font-family: 'Inter', sans-serif;
  h2{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 36px;
    font-weight: bold;
  }

  button{
    font-size: 18px;
    margin-top: -2px;
    font-weight: bold;
    margin-left: 40px;

  }

  .botones{
    margin-left: 2%;
  }

  .buscador {
    text-align: center;
    width: 80%;
    margin-left: 32%;
  }

}

#newuser{
  font-family: 'Inter', sans-serif;
  h2{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 4%;
    font-size: 36px;
    font-weight: bold;
  }
  button{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
  }

  form {
    font-weight: bold;
    font-size: 18px;
  }

  label{
    margin-top: 1%;
  }

}

#subscriptions{
  font-family: 'Inter', sans-serif;

  h1 {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
    font-size: 36px;
    font-weight: bold;
  }
  h2{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 15%;
    font-size: 24px;
    font-weight: bold;
    margin-right: 100%;
  }
  p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 100px;
  }
  button{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
  }
  .plan{
    margin-top: 11%;
  }
}