//
// Bootstrap framework + Theme
//
$primary: #292929 !default;
$body-bg: #673ab80a !default;
@import "bootstrap/scss/bootstrap";

//
// Custom styles
//
.custom-button {
  border-radius: 30px;
  margin-left: 10px;
}

html {
  height: 100vh;
}

body {
  color: white;
  min-height: 100vh;
  background-color: black;
}

::placeholder {
  color: #ccc; /* Color gris más claro */
}